<!DOCTYPE html>
<!--Allan comments denoted by ## -->
<!-- ## take a look at this for some info on html5  http://www.webdesignerdepot.com/2012/03/back-to-basics-how-to-code-an-html5-template/ -->
<html>
  <head>
    <title>Craftworks - Projects</title>
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> 
  </head>

  <body>
    <div class="container">
      <header>
        <h1>CRAFTWORKS</h1>  
        <nav>
          <p>
            <a href="team.html" class="btn btn-default">TEAM</a>
            <a href="" class="btn btn-default disabled">PROJECTS</a>
          </p>
        </nav>
      </header>

      <section class="dashes">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt velit esse cillum. <a href="https://docs.google.com/document/d/1S_XT30No56YNRYEb113KPUoODIL3scOa5c4CsHAqKpA/edit#" title="Acced to the Craftwork documentation">Learn more</a>
        </p>
      </section>

      <section>  
        <h2>Craftworks Projects</h2>  
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <div class="row hidden-xs">
                      <div class="col-sm-6 col-md-6">
                        <p>
                          <strong class="name_project">Insighter</strong> <span class="months">7 Months</span> - <span class="team_number"> 4 people</span>
                        </p>
                      </div>
  
                      <div class="col-sm-6 col-md-6 ">
                        <p class="text-right">
                          <span class="FG_budget" title="When working on a project which has limited funds available people can opt to be paid partially or fully in fairy gold instead of real money. If the project is successful then the person will receive a bonus in the future substantially larger than if they were paid to do the work up front. If the project is not successful they could receive partial payment or nothing at all.">FG</span><span class="dollars_budjet">$50k</span>
                        </p>
                      </div>
                    </div>

                    <div class="row visible-xs">
                      <div class="col-xs-12">
                        <p><strong class="name_project">Insighter</strong>
                      </div>

                      <div class="col-xs-12">
                        <span class="months">7 Months</span> - <span class="team_number"> 4 people</span></p>
                      </div>
                    </div>

                    <p class="description_project" style="clear:left;" >
                      Duis aute irure dolor in reprehenderit. velit esse cillum dolore eu fugiat nulla  Duis aute irure dolor in reprehenderit. velit esse cillum dolore eu fugiat nulla.
                    </p>
                </a>
              </div>
            </div>

            <div id="collapseOne" class="panel-collapse collapse">
              <article>
                <div class="panel-body">
                  <p><strong>Date: </strong>17 May 13 - 24 Sept 15</p>
                  <p><strong>Budget: </strong>$50k + Fairy Gold</p>
                  <p><strong>Fairy Gold: </strong>10%  of revenue share of sales of insighter at 3 X multiple.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque mi vitae sollicitudin aliquet. Maecenas et odio quis tortor rhoncus pellentesque. Duis porta fermentum orci, id feugiat massa cursus quis. Nunc quis lobortis nisi. Praesent suscipit faucibus lacus non consectetur. Etiam feugiat nisl ac tortor auctor lacinia. Aliquam id elit massa. Aliquam ligula lacus, placerat nec gravida eu, tempus id enim. </br> </br>
     
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque mi vitae sollicitudin aliquet. Maecenas et odio quis tortor rhoncus pellentesque. Duis porta fermentum orci, id feugiat massa cursus quis. Nunc quis lobortis nisi.<p>

                  <h5><strong>People & Roles</strong></h5>

                  <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-2">
                      <a data-toggle="modal" href="#myModal">
                        <figure class=" img-project container">
                          <img src="images/profil.jpg" class="img-responsive img-rounded" alt="Bloc-Notes" />
                          <figcaption class="text-center">Programmer</figcaption>    
                        </figure>
                      </a>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-2">
                      <a data-toggle="modal" href="#myModal">
                        <figure class=" img-project container">
                          <img src="images/profil.jpg" class="img-responsive img-rounded" alt="Bloc-Notes" />
                          <figcaption class="text-center">Programmer</figcaption>    
                        </figure>
                      </a>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-2">
                      <a data-toggle="modal" href="#myModal">
                        <figure class=" img-project container">
                          <img src="images/profil.jpg" class="img-responsive img-rounded" alt="Bloc-Notes" />
                          <figcaption class="text-center">Programmer</figcaption>    
                        </figure>
                      </a>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-2">
                      <a data-toggle="modal" href="#myModal">
                        <figure class=" img-project container">
                          <img src="images/profil.jpg" class="img-responsive img-rounded" alt="Bloc-Notes" />
                          <figcaption class="text-center">Programmer</figcaption>    
                        </figure>
                      </a>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>

  <script src="js/jquery-2.0.3.js"></script>
  <script src="js/bootstrap.min.js"></script>

</html>