// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.img-project
{
	width: 90%;
}

#accordion
{
	margin-bottom: 50px;
	
	-moz-box-shadow: 5px 5px rgba(0,0,0,0.7);
	-webkit-box-shadow: 5px 5px rgba(0,0,0,0.7);
	box-shadow: 5px 5px rgba(0,0,0,0.7);
}

#accordion figcaption
{
	color: black;
	margin-top: 5px;
}

.intro strong
{
	font-weight: bold;
	font-size: 1.25em;
	margin-right: 15px;
}

.intro .time
{
	margin-right: 15px;
}

.intro .time, .team_number
{

}

.FG_budget
{
	margin-right: 15px;
	font-weight: bold;
	color: #FFC600
}
